services:
    prometheus:
        build:
            context: .
            dockerfile: Dockerfile.prometheus
        container_name: prometheus
        ports:
            - "9090:9090"

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD=admin
        ports:
            - "3000:3000"

    nginx:
        build:
            context: .
            dockerfile: Dockerfile.nginx
        container_name: nginx
        ports:
            - "5000:80"
        depends_on:
            - prometheus
            - grafana
